body {
    font-family: 'roboto', sans-serif;
    width: 1366px;
    height: 768px;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 1030px;
    margin: 0 auto;   
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    margin-bottom: 22px;
}

.logo {
    display: flex;
    gap: 8px;
}

.main-logo {
    background-image: url('../img/header-logo-original.png');
    width: 53px;
    height: 47px;
}

.logo:hover .main-logo {
    background-image: url('../img/header-logo-orange.png');
}

.main-title {
    text-transform: uppercase;
    font-size: 29px;
    line-height: 25px;
    font-weight: 700;
}

.main-title span {
    font-size: 18px;
    line-height: 18px;
}

.logo:hover .header{
    color: #F26522;
}

.logo:hover .main-title {
    color: #F26522;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.contacts a:hover {
    color: #F26522;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 220px);
    column-gap: 60px;
    row-gap: 78px;
    /* margin-bottom: 48px; */
}

.grid-gallery-item:hover .image-title {
    color: #F26522;
}

.grid-gallery-item:hover .info-bar {
    opacity: 1;
    transform: translateY(-55px);
}

.image {
    display: block;
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
}

.image-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}

.image-item {
    position: relative;
}

.info-bar {
    background-color: #F26522;
    width: 280px;
    height: 55px;
    position: absolute;
    left: 2;
    bottom: -16px;
    padding-left: 19px;
    padding-top: 8px;
    opacity: 0;
}

.info-bar p {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.details {
    display: flex;
    margin-top: 13px;
    text-align: center;
    gap: 128px;
}

.info-bar h3 {
    font-size: 20px;
    line-height: 20px;

}

.details p {
    font-size: 14px;
    line-height: 14pz;
}

.details p::after {
    content: "";
    background-image: url('../img/Vector\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 5px;
    height: 10px;
    margin-left: 16px;
    top: 32px;
}

.footer {
    color: white;
    text-align: center;
    padding-top: 60px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400; 
}